*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
  position: fixed;
  padding-top: 0.8rem;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15rem;
}


nav ul {

  list-style-type: none;
  display: flex;
  max-width: 1000px;
  margin: auto;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  color: white;
}

nav ul li a:hover,
.active {
  font-size: larger;
}
