/* Add this CSS to your component's CSS file (e.g., tracking.component.css) */
.custom-marker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px; /* Adjust the size as needed */
  height: 32px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes it round */
  color: white; /* Icon color */
}
