
<form (ngSubmit)="onSubmit()" [formGroup]="Form">
  <label for="name">Name:</label>
  <div class="card flex justify-content-center" id="name" formControlName="name">
    <input type="text" pInputText [(ngModel)]="value" />
  </div>

  <label for="surname">Surname:</label>
  <div class="card flex justify-content-center" id="surname" formControlName="surname">
    <input type="text" pInputText [(ngModel)]="value" />
  </div>

  <label for="hogwartsHouse">Hogwarts House:</label>
  <div class="card flex justify-content-center" id="hogwartsHouse" formControlName="hogwartsHouse">
    <p-dropdown [options]="hogwartsHouse" [(ngModel)]="selectedHouse" optionLabel="name"></p-dropdown>
  </div>

  <label for="address">Address:</label>
  <div class="card flex justify-content-center" formControlName="address" id="address" >
    <textarea rows="5" cols="22" pInputTextarea [(ngModel)]="value"></textarea>
  </div>

  <label for="owlName">Owl Name:</label>
  <div class="card flex justify-content-center" id="owlName" formControlName="owlName">
    <input type="text" pInputText [(ngModel)]="value" />
  </div>

  <button class="button-9">Submit</button>
</form>



