:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #3B3A2E;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h2{
  font-size: 40px;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #755252;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.iconsocials {
  height: 40px;
  margin: 0 16px;
}

.iconsocials:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

}

footer {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  line-height: 20px;
  text-align: center; /* Center text horizontally */
  padding: 10px;

  margin-top: 2rem;
  margin-bottom: 0;
  bottom: 0; /* Stick to the bottom of the viewport */
}


svg#clouds{
  position:fixed;
  bottom:-160px;
  left:-230px;
  z-index:-10;
  width:1920px;
}




/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
