<div class="content" role="main">

<h1>Adopt your magical Beast</h1>

  <p class="adoptioncard">
    <p-card header="Buckbeak" subheader="Hippogriff" [style]="{ width: '360px', height: '31rem', 'padding-bottom': '1rem' }" class="card">
      <ng-template pTemplate="header">
        <img [style]="{'max-height': '11.5rem'}" alt="Card" src="https://i.pinimg.com/originals/47/c0/42/47c04289de430ddc99d1c071530575c3.jpg" />
      </ng-template>
      Buckbeak is a shy individual that needs some time to open up to new Wizards but after he warmed up to you he will be a loyal companion on all your adventures.

        <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/form">Adopt</button>
      </ng-template>

    </p-card>

    <p-card header="Niffler" subheader="Niffler" [style]="{ width: '360px', height: '31rem' }" class="card">
      <ng-template pTemplate="header">
        <img [style]="{'max-height': '11.5rem'}" alt="Card" src="https://th.bing.com/th/id/OIP.eHSEeVLq5t8rXe4ZxYUdOQHaDp?w=339&h=172&c=7&r=0&o=5&dpr=2.5&pid=1.7" />
      </ng-template>
      Not much to say about Niffler exept he is cute and will steal everything shiny. <br> <br> <br>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/form">Adopt</button>
      </ng-template>
    </p-card>

    <p-card header="Zoe" subheader="Zouwu" [style]="{ width: '360px', height: '31rem' }" class="card">
      <ng-template pTemplate="header">
        <img [style]="{'max-height': '11.5rem'}" alt="Card" src="https://cdn.i-scmp.com/sites/default/files/styles/landscape/public/d8/images/2018/11/22/076_chl_127822.jpg?itok=1jTKvdSG" />
      </ng-template>
      Zoe is a sweet girl, that is often missunderstood but in reality she just wants to play. <br> <br>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/form">Adopt</button>
      </ng-template>
    </p-card>

    <p-card header="Ozzy" subheader="Occamy" [style]="{ width: '360px', height: '31rem' }" class="card">
      <ng-template pTemplate="header">
        <img [style]="{'max-height': '11.5rem'}" alt="Card" src="https://www.factinate.com/wp-content/uploads/2018/02/FotoJet-66-1.jpg" />
      </ng-template>
      Ozzy is still pretty small and sweet but nothing for an untrained wizard. He will grow pretty fast and with out consequent
      training he will be difficult to handel. <br>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/form">Adopt</button>
      </ng-template>
    </p-card>

    <p-card header="Fluffy" subheader="Three headed dog" [style]="{ width: '360px', height: '31rem' }" class="card">
      <ng-template pTemplate="header">
        <img [style]="{'max-height': '11.5rem'}" alt="Card" src="https://monsterlegacy.files.wordpress.com/2017/01/fluffyasleep.jpg" />
      </ng-template>
        Fluffy is a calm Three-headed-dog that loves the sound of Harps. He is specialized in object protection and does this with great
      enthusiasm. <br>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/form">Adopt</button>
      </ng-template>
    </p-card>

    <p-card header="May" subheader="Matagot" [style]="{ width: '360px', height: '31rem' }" class="card">
      <ng-template pTemplate="header">
        <img [style]="{'max-height': '11.5rem'}" alt="Card" src="https://i.pinimg.com/originals/37/d7/36/37d7367afab99374f491b1fbfa9d99ab.jpg" />
      </ng-template>
      May is just your typical Matagot, perfect for a dark wizard that wants to keep intruders out of there home. <br>
      <br>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/form">Adopt</button>
      </ng-template>
    </p-card>

</div>

