<div class="product-list-container" [ngStyle]="{ 'min-width':'700px', 'max-width': '1500px'}">
  <p-dataView [value]="products" [layout]="layout" >
  <ng-template let-product pTemplate="listItem">
    <div class="p-grid">
      <div class="p-col-12 p-md-3">
        <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image" />
      </div>
      <div class="p-col-12 p-md-9">
        <h4>{{ product.name }}</h4>
        <p class="product-price">Price: {{ product.price | currency: 'USD' }}</p>
        <p class="product-rating">Rating: {{ product.rating }}</p>
        <p class="product-inventory" [ngClass]="getSeverity(product)">
          Inventory: {{ product.inventoryStatus }}
        </p>
        <button
          class="button-9"
          [ngClass]="{'btn-success': isProductInCart(product), 'btn-primary': !isProductInCart(product)}"
          (click)="toggleCartStatus(product)"
          [ngStyle]="{'margin-right': '1rem'}"
        >
        {{ product.addedToCart ? 'In Cart' : 'Add to Cart' }}
        </button>

      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <div class="flex flex-column md:flex-row md:justify-content-between">
      <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0" [style.margin]="'1rem'"></p-dropdown>
      <p-dropdown [options]="categoryOptions" [(ngModel)]="selectedCategory" placeholder="Filter By Category" (onChange)="filterProductsByCategory()" styleClass="mb-2 md:mb-0"></p-dropdown>

    </div>
  </ng-template>
  <ng-template let-product pTemplate="listItem">
    <div class="product-item">
      <img class="product-image" [src]="product.image" [alt]="product.name" />
      <div class="product-details">
        <div class="product-name">{{ product.name }}</div>

        <!-- Display the rating using p-rating -->
        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"
                  [ngClass]="{'high-rating': product.rating >= 4, 'low-rating': product.rating < 4}"></p-rating>


        <div class="product-category">
          <i class="pi pi-tag"></i>
          <span class="font-semibold">{{ product.category }}</span>
        </div>
        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"
               [style.color]="getSeverity(product)">
        </p-tag>

      </div>
      <div class="product-price-button">
        <div class="product-price">{{ '$' + product.price }}</div>
        <button
          class="button-9"
          [ngStyle]="{'margin-right': '1rem'}"
          [ngClass]="{
          'in-cart-button': isProductInCart(product),
          'btn-success': isProductInCart(product) && product.inventoryStatus !== 'OUT OF STOCK',
          'btn-primary': (!isProductInCart(product) || product.inventoryStatus === 'OUT OF STOCK')
        }"
          (click)="toggleCartStatus(product)"
          [disabled]="product.inventoryStatus === 'OUT OF STOCK'"
          [style.backgroundColor]="product.inventoryStatus === 'OUT OF STOCK' ? '#B3B3B3' : ''"
        >
          {{ product.addedToCart ? 'In Cart' : 'Add to Cart' }}
        </button>
      </div>
    </div>
  </ng-template>
</p-dataView>
</div>
