/* General styles */
:host {
  ::ng-deep .p-dataView {
    width: 100%; /* Set the width to 100% to make it wider */
    max-width: 1500px; /* Set a maximum width for larger screens if desired */
    margin: 0 auto;
    padding: 40px; /* Add padding to create space on the sides */
    box-sizing: border-box;
  }
}

roduct-list-container{
  width: 1500px;
}

.button-9 {

  backface-visibility: hidden;
  background-color: #755252;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  margin-right: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.disabled-button {
  background-color: #B3B3B3;
}




.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.product-image {
  width: auto;
  max-height: 15rem;
  margin-bottom: 10px;
}



.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-price-button {
  margin-top: 10px;
}

/* Responsive styles */
@media (min-width: 768px) {
  .product-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .product-image {
    max-width: 30%;
    margin-right: 10px;
  }

  .product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-price-button {
    margin-top: 0;
  }
}
