@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~primeicons/primeicons.css";



html {
  background-color: #F5F5F5;
}

/* Severity Styles */
.success {
  color: #C6BF5F;
}

.warning {
  color: #DC965A;
}

/* Rating Styles */
.high-rating {
  color: #CAD199;
}

.low-rating {
  color: #E1BEA0;
}
