<div class="content" role="main">

  <h1>Welcome Wizards!</h1>
  <p>
    We are the leading Adoption Site for Magical Beasts since 1678. As the world is getting more and more modern,
    the wizarding world is struggeling to keep up. We are trying to close this gap and started our first Wizarding Website!
  </p>


  <!-- Resources -->
  <h2>What we have to offer:</h2>

  <div class="homecard">
    <p-card header="Adoption" subheader="Adopt your magical beast" [style]="{ width: '22.5rem' , height:'39.2rem'}" class="card">
      <ng-template pTemplate="header">
        <img alt="Card"
             src="https://cdn.i-scmp.com/sites/default/files/styles/landscape/public/d8/images/2018/11/22/076_chl_127822.jpg?itok=1jTKvdSG"/>
      </ng-template>
      <p>
        Elevate your magical journey with a mystical companion from our adoption site. These magical beasts are your
        key to enhanced powers and an unforgettable, enchanting partnership. Adopt your magical beast today and take
        your wizardry to new heights!
      </p>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/adoption">See more</button>
      </ng-template>
    </p-card>

    <p-card header="Shop" subheader="Everything you need for your new beast" [style]="{ width: '22.5rem' , height:'39.2rem' }" class="card">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://images.unsplash.com/photo-1478744919174-118dbd24973e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80"/>
      </ng-template>
      <p>
        Discover all the essentials for your magical beast companion at our one-stop emporium. From grooming to
        nourishment, we've got everything to ensure their comfort and happiness under one mystical roof. <br> <br>
      </p>
      <ng-template pTemplate="footer">
        <button class="button-9" routerLink="/shop">See more</button>
      </ng-template>
    </p-card>

  </div>
</div>
